@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000e59e6;
  --dark: #000e59e6;
}

@theme inline {
  --container-7xl: 80rem;
  --color-background: var(--background);
  --color-dark: var(--dark);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-nunito);
  --font-display: var(--font-nunito);
  --font-display--font-variation-settings: "wdth" 125; 
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000e59e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Nunito, Helvetica, sans-serif;
}
